h1 {
    font-family: 'Tajawal', sans-serif !important;
}
h2 {
    font-family: 'Tajawal', sans-serif !important;
}
h3 {
    font-family: 'Tajawal', sans-serif !important;
}
h4 {
    font-family: 'Tajawal', sans-serif !important;
}
h5 {
    font-family: 'Tajawal', sans-serif !important;
}
h6 {
    font-family: 'Tajawal', sans-serif !important;
}
div {
    font-family: 'Tajawal', sans-serif !important;
}
 
a {
    font-family: 'Tajawal', sans-serif !important;
}
ul {
    font-family: 'Tajawal', sans-serif !important;
}
li {
    font-family: 'Tajawal', sans-serif !important;
}
button {
    font-family: 'Tajawal', sans-serif !important;
}
section {
    font-family: 'Tajawal', sans-serif !important;
}
/* h1 {
    font-family: 'Tajawal', sans-serif !important;
}
h1 {
    font-family: 'Tajawal', sans-serif !important;
}
h1 {
    font-family: 'Tajawal', sans-serif !important;
}
h1 {
    font-family: 'Tajawal', sans-serif !important;
} */
